<header class="ravi-header">

	<div class="container">

		<div class="ravi-menubar">

			<div class="ravi-menubar-homelink">
				<a href="{{ site.github.url }}">{{ site.title }}</a>
			</div>

			<div class="ravi-menubar-menu">
				<ul>
					<li><a href="{{ site.github.url }}"><i class="fa fa-home"></i></a></li>
					<li><a href="{{ site.github.url }}/slides/">Table of Contents</a></li>
					<li><a href="{{ site.github.url }}/slides-thumbnails/">Thumbnails</a></li>
					<li><a href="{{ site.github.url }}/slides-summary/">Summary</a></li>
				</ul>
			</div>

		</div>

	</div>

	
</header>
